.shadow iframe{
    height:500px;
    width: 90%;
    

}
.shadow{
    border: 1px solid white;
   margin-left:300px;
   margin-right: 600px;
    box-shadow: 3px 3px 5px #e9e8ea,-3px -3px 5px#e9e8ea ;
    border-radius: 20px;
    line-height:70px;
	font-size:30px;


}
.shadow h2{
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    font-size: 30px;
}
.utter{
    
    background-color:#0d6efd;
    color:white;
    border: 1px solid;
    border-radius: 30px;
    width:65%;
    height:200px;
    margin-left:300px;
	margin-right:40px;
    margin-bottom: 20px;
    margin-right: 300px;
    padding-left:50px ;
	font-size:30px;
}
.utter h1{
    font-size:45px;
    text-align: center !important;
	margin-top:10px;
}
.utter p{
	margin-top:5px;
}

.Hello{
    color: aquamarine;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 9px;
    margin-top:-1px;
    margin-left:30px;
    display: block;
    width: 60px;
    text-align: center;
    display:none;
    background-color: #78bb78;
    position:absolute;
	top:0;
}
.link{
	position:relative;
}
a.Home:hover span.Hello{
    display:inline-block !important;
}
.this .is{
    color: rgb(225, 11, 11);
    border: 1px solid gray;
    border-radius: 9px;
    margin-top:-30px;
    margin-left:30px;
    padding: 5px;
    display: block;
    width: 70px;
    text-align: center;
    display:;
    background-color: #78bb78;
}

#bang{
    color: aquamarine;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 9px;
    margin-top:-30px;
    margin-left: 95px;
    display: block;
    width: 75px;
    text-align: center;
    visibility:hidden;
    background-color: #78bb78;

}

#pat{
    color: aquamarine;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 9px;
    margin-top:-30px;
    margin-left:170px;
    display: block;
    width: 70px;
    text-align: center;
    visibility:hidden;
    background-color: #78bb78;
}
